header
  .container
    .row
      .col-xs-3
        a#logo(href='index.html')
          img(src='assets/images/logo.png', alt='')
      .col-xs-7
          nav
            ul
              li
                a(href='')
                  i.ic.icon-plus-circle
                  |  Pages
              li
                a(href='recipes.html')
                  i.ic.icon-recipes
                  |  Recipes
              li
                a(href='chefs.html')
                  i.ic.icon-chefs
                  |  Chefs
              li
                a(href='')
                  i.ic.icon-community2
                  |  Community
      .col-xs-2
        button.btn.btn-default(type='button') Default

