
<app-header></app-header>
<section id="not-found" data-image="images/content/header-bg.jpg" data-height="300">
  <div id="section_header">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="mt80">404</h1>
        <h3 class="mt20">Looks Like Something Went Wrong!</h3>
      </div>
    </div>
  </div>
</section>
<div class="container text-center">
  <div class="main_title">
    <div class="mt30 mb30" id="green-tittle-bubble">
      <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><br/><span>404</span></p>
    </div>
    <h2 class="mb20">Error. Looks Like Something Went Wrong!</h2>
  </div>
</div>
<app-footer></app-footer>