app-header
section#not-found(data-image='images/content/header-bg.jpg', data-height='300')
  #section_header
    .row
      .col-xs-12
        h1.mt80 404
        h3.mt20 Looks Like Something Went Wrong!

.container.text-center
  .main_title
    #green-tittle-bubble.mt30.mb30
      p
        i.fa.fa-exclamation-triangle(aria-hidden='true')
        br
        span 404
    h2.mb20 Error. Looks Like Something Went Wrong!
app-footer
