footer
  #line
  .container
    .row
      .col-md-12
        #social_footer.social_color_hover
          ul
            li
              a(href='index.html#')
                i.fa.fa-facebook
            li
              a(href='index.html#')
                i.fa.fa-twitter
            li
              a(href='index.html#')
                i.fa.fa-google-plus
            li
              a(href='index.html#')
                i.fa.fa-instagram
            li
              a(href='index.html#')
                i.fa.fa-pinterest
            li
              a(href='index.html#')
                i.fa.fa-vimeo
            li
              a(href='index.html#')
                i.fa.fa-youtube-play
          p
            | Suggeat  |  All Rights Reserved.
            br
            | ÑAM ÑAM

