
<footer>
  <div id="line"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="social_color_hover" id="social_footer">
          <ul>
            <li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="index.html#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="index.html#"><i class="fa fa-vimeo"></i></a></li>
            <li><a href="index.html#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>Suggeat  |  All Rights Reserved.<br/>ÑAM ÑAM</p>
        </div>
      </div>
    </div>
  </div>
</footer>