nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', (click)="toggleState()")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Suggeat
    .collapse.navbar-collapse([ngClass]="{ 'in': isIn }")
      ul.nav.navbar-nav
        li
          a(href='/recipe') Recipe
        li
          a(href='/123') Not Found
