@import ./assets/css/colors

body
  background-color: $secondary-color

button.btn
  border-radius: 4px
  font-size: 16px
  margin-top: 10px
  padding: 0 10px
  height: 35px
  line-height: 35px
  display: inline-block

button.btn.btn-default
  background: $tertiary-color
  color: $secondary-color
  border-color: $tertiary-color-border
  &:hover
    background-color: $tertiary-color-hover
    border-color: $tertiary-color-hover-border

button.btn.btn-danger
  background: $red
  color: $secondary-color
  &:hover
    background-color: $red-hover

$columns: 100
@for $i from 1 through $columns
  .mt#{$i}
    margin-top: #{$i}px
  .mb#{$i}
    margin-bottom: #{$i}px
  .mr#{$i}
    margin-right: #{$i}px
  .ml#{$i}
    margin-left: #{$i}px
